body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
}

.home-title {
  color: #FFFFFF;
  font-size: 100px;
  margin: 20px 0;

}

.home-subtitle {
  color: #FFFFFF;
  font-size: 75px;
  margin: 0 0 20px;
}

.home-link {
  color: #FFFFFF;
  font-size: 50px;
  margin: 0 0 20px;
}
